html {
  font-family: Calibri;
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    font-family: Calibri;
    position: relative;
    min-height: 100%;
}

body {
    font-family: Calibri;
    margin-bottom: 60px;
}