
<nav class="sidebar-nav">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" asp-controller="Home" asp-action="Index"><i class="icon-speedometer"></i> لوحة التحكم <!--<span class="tag tag-info">جدید</span>--></a>
        </li>

        <li class="nav-title">
            إدارة الأعضاء
        </li>
        <li class="nav-item">
            @*<a class="nav-link" onclick="showInPopup('@Url.Action("AddClient", "Clients")')"><i class="icon-user"></i>عضو جديد</a>*@
            <a class="nav-link" asp-controller="Clients" asp-action="Families"><i class="icon-people"></i> العائلات</a>
            <a class="nav-link" asp-controller="Clients" asp-action="Index"><i class="icon-people"></i> بيانات الأعضاء</a>
        </li>

        <li class="nav-title">
            ألإدارة المالية
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Subs" asp-action="Collect"><i class="icon-docs"></i> التحصيل</a>
            <a class="nav-link" asp-controller="Subs" asp-action="Index"><i class="icon-docs"></i> ألإشتراكات</a>
        </li>

    </ul>
</nav>
