@model AlamalCharity.Models.CLientsModel;
@{
    Layout = null;
}

<div class="">
    <div class="card">
        <div class="card-header">
            <strong>إضافة عضو جديد</strong>
        </div>
        <div class="card-block">
            <form asp-controller="Clients" asp-action="AddClient" method="post" class="form-horizontal ">
                <div class="form-group row">
                    <label class="col-md-3 form-control-label" for="hf-email">رقم العضو</label>
                    <div class="col-md-9">
                        <input type="text" id="hf-email" name="clntID" class="form-control" style="font-family:Calibri;" value="@Model.clntID" readonly>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label">إسم العضو</label>
                    <div class="col-md-9">
                        <input type="text" id="hf-password" name="clntName" class="form-control" style="font-family:Calibri;" asp-for="clntName" placeholder="إسم العضو ...">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label">العائلة</label>
                    <div class="col-md-9">                        
                        <select name="clntFamily" class="form-control" asp-for="clntFamily" asp-items="Model.Families" placeholder="عائلة ..."></select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-md-3 form-control-label">رقم الجوال</label>
                    <div class="col-md-9">
                        <input type="text" id="hf-password" name="clntMobile" class="form-control" style="font-family:Calibri;" value="@Model.clntMobile" placeholder="رقم الجوال ...">
                    </div>
                </div>

                <div class="card-footer">
                    <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> حفظ</button>
                    <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> إفراغ</button>
                </div>
            </form>
        </div>
    </div>
</div>